h1, h2, h3, h4, h5, h6 {
  color: purple;
}
.subjectHeader {
  font-family: sans-serif;
}
body blockquote {
  font-size: 25pt;
  background-color: black;
  color: yellow;
}
table, caption, th, td {
  text-align: center;
  border: 2px groove red;
  border-collapse:separate;
}
#scoreBoard caption {
  color: Green;
  font-weight: bold;
}
#scoreBoard thead tr th {
  color: blue;
  font-weight: bold;
}
#scoreBoard tbody td {
  color: orange;
}
#scoreBoard tfoot tr th {
  font-weight: normal;
}
#teamRoster li, ul, ol  {
  list-style: square;
}
.hyperLink:hover {
  background-color: yellow;
  text-decoration: none;
}
#checkbox-grid {
  list-style: none;
}
#teamRoster > li:first-child, img {
  font-weight: bolder;
  list-style-type: none;
  background-image:url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}
#teamRoster > li:last-child{
  font-weight: bolder;
  list-style-type: none;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}
#teamRoster > li:first-child img{
  display: none;
}
#teamRoster > li:last-child img{
  display: none;
}
